([]
 {{#{({})} ()} []}
 [{1.0 e}]
 #{[]}
 #{#{#{}}}
 {{(\/) {}} #{{"" \9}}, [(-0.2)] ([N :+84?] (\à))}
 {(#{}
   {[{false false}] {(-1.5 -1/2) #{}},
    #{} {{} {-1/6 ")z", true false}}})
  [],
  (({(:_958-P) [], (0.6 2.0) [0]})) #{}}
 {[#{{() {}}} [#{{-0.0 5/4} (7/2 false)} ()]]
  (#{{{:_4-517NF:T?hK!+u:2f+7S :?Jd*-ZH*.TR_/I7a, "r áþ" \m}
      {-0.4 f+++s5_4},
      {}
      [:V+*:97+!:t:n:I:Nt+tb:Mnv _-0H.W?._-.-h7++5qO.pFOC/CfW5435]}})}
 ([#{5/4 8}])
 {})
